<!DOCTYPE html>
<html ng-app="table-demo">
	<head>
		<title>CSS Table demo</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/vendors.css">
		<link rel="stylesheet" href="bootstrap-csstable.css">
		<script src="js/vendors.js"></script>
		<style>
		</style>
	</head>
	<body>
		<div class="container" ng-controller="DemoCtrl as ctrl">
			<div class="page-header">
				<h1>Demo css table</h1>
			</div>
			<table class="table table-striped table-hover table-enhanced sort-right"
					 cols-hid="0 1 2"
					 cols-width="3:60"
					 orderby="{{ctrl.orderBy}}" reverse="{{ctrl.reverse}}">
				<thead>
					<tr class="table-header">
						<th>ID<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>INDEX<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>GUID<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>ACTIVE<a href="#" sortable="false" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>BALANCE<a href="#" sortable="false" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>PICTURE<a href="#" sortable="false" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>AGE<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>EYECOLOR<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>NAME<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>GENDER<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>COMPANY<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>EMAIL<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
						<th>PHONE<a href="#" sortable="true" ng-click="ctrl.switchOrder($event)"></a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in ctrl.users">
						<td>{{user._id}}</td>
						<td>{{user.index}}</td>
						<td>{{user.guid}}</td>
						<td><input type="checkbox" ng-value="user.isActive" disabled></td>
						<td>{{user.balance}}</td>
						<td><img alt="pict" src="{{user.picture}}"/></td>
						<td>{{user.age}}</td>
						<td>{{user.eyeColor}}</td>
						<td>{{user.name}}</td>
						<td>{{user.gender}}</td>
						<td>{{user.company}}</td>
						<td>{{user.email}}</td>
						<td>{{user.phone}}</td>
					</tr>
				</tbody>
			</table>
			<!-- <a href="#" ng-click="ctrl.switchOrder($event)">
								<span sort class="fa fa-sort"></span><span sort-asc class="fa fa-sort-asc"></span><span sort-desc class="fa fa-sort-desc"></span>
							</a>
						 -->
		</div>
		<script src="index.js"></script>
	</body>
</html>
